* {
    padding: 0;
    margin: 0;
    border: none;
    border-style: none;
    border-image: unset;
    outline: none;
}
QWidget {
    background: rgba(248, 249, 250, 1.000);
    color: rgba(77, 81, 87, 1.000);
    selection-color: rgba(77, 81, 87, 1.000);
    selection-background-color: rgba(97, 158, 239, 0.500);
}
QPushButton {
    color: rgba(26, 115, 232, 1.000);
    border: 1px solid rgba(218, 220, 224, 1.000);
    padding: 4px 8px;
    border-radius: 4px;
}
QPushButton:flat,
QPushButton:default {
    border: none;
    padding: 5px 9px;
}
QPushButton:default {
    color: rgba(248, 249, 250, 1.000);
    background: rgba(26, 115, 232, 1.000);
}
QPushButton:hover {
    background: rgba(23, 112, 227, 0.100);
}
QPushButton:pressed {
    background: rgba(23, 112, 227, 0.240);
}
QPushButton:checked:enabled {
    background: rgba(23, 112, 227, 0.240);
}
QPushButton:default:hover {
    background: rgba(50, 130, 234, 1.000);
}
QPushButton:default:pressed,
QPushButton:default:checked {
    background: rgba(97, 158, 239, 1.000);
}
QPushButton:default:disabled,
QPushButton:default:checked:disabled {
    background: rgba(77, 81, 87, 0.250);
}
QTabWidget::pane {
    border: 1px solid rgba(218, 220, 224, 1.000);
    border-radius: 4px;
QTabBar {
    qproperty-drawBase: 0;
}
QTabBar::close-button:hover {
    background: rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
QTabBar::tab {
    padding: 3px;
    border-style: solid;
}
QTabBar::tab:hover,
QTabBar::tab:selected:hover:enabled {
    background: rgba(0, 0, 0, 0.082);
}
QTabBar::tab:selected:enabled {
    color: rgba(26, 115, 232, 1.000);
    background: rgba(0, 0, 0, 0.000);
    border-color: rgba(26, 115, 232, 1.000);
}
QTabBar::tab:selected:disabled,
QTabBar::tab:only-one:selected:enabled {
    border-color: rgba(218, 220, 224, 1.000);
}
QTabBar::tab:top {
    border-bottom-width: 2px;
    margin: 3px 6px 0 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
QTabBar::tab:bottom {
    border-top-width: 2px;
    margin: 0 6px 3px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
QTabBar::tab:left {
    border-right-width: 2px;
    margin: 0 0 6px 3px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
QTabBar::tab:right {
    border-left-width: 2px;
    margin-bottom: 6px;
    margin: 0 3px 6px 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
QTabBar::tab:top:first,
QTabBar::tab:top:only-one,
QTabBar::tab:bottom:first,
QTabBar::tab:bottom:only-one {
    margin-left: 2px;
}
QTabBar::tab:top:last,
QTabBar::tab:top:only-one,
QTabBar::tab:bottom:last,
QTabBar::tab:bottom:only-one {
    margin-right: 2px;
}
QTabBar::tab:left:first,
QTabBar::tab:left:only-one,
QTabBar::tab:right:first,
QTabBar::tab:right:only-one {
    margin-top: 2px;
}
QTabBar::tab:left:last,
QTabBar::tab:left:only-one,
QTabBar::tab:right:last,
QTabBar::tab:right:only-one {
    margin-bottom: 2px;
}
